In [1]:
from src import visualize as viz
from src import model as mdl
from src import custom as cm

In [93]:
import pandas as pd
import numpy as np
from joblib import load

In [21]:
user_fac = pd.read_csv('../data/processed/user_factors.csv', index_col = 'id')

In [22]:
user_fac.head()

,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,40,41,42
id,,,,,,,,,,,,,,,,,,,,,
1,-0.380470,0.103641,0.310486,0.078450,0.129363,-0.033363,0.030401,-0.360824,-0.213137,0.370407,...,0.022118,-0.480875,0.194733,0.479119,0.328390,-0.123725,-0.188246,-0.525000,-0.133443,-0.167593
2,-0.226508,0.167774,0.536940,0.235142,-0.036765,0.118235,0.024486,-0.449235,-0.145772,0.214047,...,-0.048399,-0.314272,0.170148,0.567598,0.492936,-0.072118,-0.063404,-0.715515,0.038176,-0.056638
3,-0.240955,0.179579,0.439598,0.231143,0.003269,0.110166,0.018843,-0.457156,-0.184155,0.168279,...,-0.037431,-0.375902,0.142993,0.607431,0.525451,-0.006926,-0.018648,-0.715832,0.011471,-0.136575
4,-0.271722,0.041331,0.368844,-0.016227,0.102699,0.047941,0.020815,-0.335555,-0.272367,0.089399,...,0.136988,-0.530468,0.179969,0.527210,0.440110,0.124539,-0.082171,-0.663929,-0.065500,-0.327186
5,-0.368851,0.104798,0.349379,0.013516,0.070510,0.036399,-0.017281,-0.401808,-0.266340,0.203034,...,0.118943,-0.581576,0.247609,0.590982,0.318466,0.053089,-0.191376,-0.671003,-0.065487,-0.266448

In [27]:
item_fac = pd.read_csv('../data/processed/item_factors_unstacked.csv', index_col = 'id')

In [28]:
item_fac.head()

,1,2,3,4,5,6,7,8,9,10,...,33,34,35,36,37,38,39,40,41,42
id,,,,,,,,,,,,,,,,,,,,,
1,-0.339038,0.133855,0.431191,0.170945,0.060187,0.008598,0.054160,-0.401662,-0.193391,0.355262,...,-0.052306,-0.392383,0.141144,0.529034,0.494720,-0.141302,-0.088752,-0.589613,-0.088734,-0.093626
2,-0.206917,0.183585,0.479785,0.222415,-0.039014,0.109340,0.026195,-0.383216,-0.142015,0.147401,...,-0.106040,-0.213550,0.180178,0.553887,0.478742,-0.033819,0.001490,-0.661385,0.055707,-0.049976
3,-0.207074,0.255722,0.396710,0.260146,-0.004491,0.083058,0.009378,-0.374817,-0.110707,0.119876,...,-0.175207,-0.145357,0.177796,0.572370,0.468172,-0.011677,0.052738,-0.643598,0.087316,-0.037295
4,-0.106216,0.210775,0.450775,0.287757,-0.121598,0.122187,-0.048723,-0.411978,-0.057141,0.138302,...,-0.213138,-0.150968,0.100139,0.528075,0.437014,-0.018255,0.019652,-0.623169,0.139524,0.032842
5,-0.150020,0.249664,0.427565,0.288323,-0.057598,0.054907,-0.013541,-0.382258,-0.067867,0.162254,...,-0.288030,-0.102036,0.111018,0.560844,0.508875,-0.012856,0.088838,-0.613712,0.123424,0.020842

1x42 42x258000

In [32]:
user_fac.shape

(243658, 42)

In [44]:
ALS_rankings_matrix = user_fac.to_numpy().dot(item_fac.T.to_numpy())

In [45]:
ALS_rankings_matrix.shape

(243658, 28755)

In [48]:
idx = np.random.randint(243658, size=1000)

In [50]:
sample = ALS_rankings_matrix[idx,:]

In [61]:
sample_df = pd.DataFrame(sample)

In [62]:
sample_df.head()

,0,1,2,3,4,5,6,7,8,9,...,28745,28746,28747,28748,28749,28750,28751,28752,28753,28754
0,3.799008,3.153223,2.996005,2.806670,2.931485,3.677099,3.299680,2.898351,2.665749,3.272389,...,2.401551,2.198248,2.880208,3.323307,2.631974,3.163979,2.630568,3.302790,2.580685,3.110638
1,4.122485,3.604590,3.444418,3.056142,3.347334,4.001004,3.655584,3.337724,3.180631,3.747248,...,2.373946,2.147688,3.378404,3.803009,3.212238,3.346247,2.608388,3.239394,2.558276,3.455100
2,3.385340,3.585565,3.560982,3.126218,3.471269,3.237204,3.389091,3.610551,3.645645,3.475010,...,1.784710,1.740876,3.198753,3.831500,3.724156,3.051708,1.937959,2.144989,1.212976,2.630250
3,3.761404,3.002842,2.818801,2.716159,2.775307,3.561156,3.200930,2.743161,2.451463,3.114742,...,2.539695,2.284694,2.696516,3.171370,2.337642,3.107357,2.650927,3.411932,2.461335,3.119563
4,3.141246,2.586010,2.450807,2.254159,2.377348,3.093071,2.686382,2.342904,2.167937,2.720989,...,1.868175,1.741374,2.421439,2.716533,2.200564,2.631597,2.194156,2.762559,2.306070,2.576295

In [65]:
sample_df.columns = item_fac.index

In [66]:
sample_df.head()

id,1,2,3,4,5,6,7,8,9,10,...,192431,192491,192551,192559,192579,192697,192777,192849,193185,193243
0,3.799008,3.153223,2.996005,2.806670,2.931485,3.677099,3.299680,2.898351,2.665749,3.272389,...,2.401551,2.198248,2.880208,3.323307,2.631974,3.163979,2.630568,3.302790,2.580685,3.110638
1,4.122485,3.604590,3.444418,3.056142,3.347334,4.001004,3.655584,3.337724,3.180631,3.747248,...,2.373946,2.147688,3.378404,3.803009,3.212238,3.346247,2.608388,3.239394,2.558276,3.455100
2,3.385340,3.585565,3.560982,3.126218,3.471269,3.237204,3.389091,3.610551,3.645645,3.475010,...,1.784710,1.740876,3.198753,3.831500,3.724156,3.051708,1.937959,2.144989,1.212976,2.630250
3,3.761404,3.002842,2.818801,2.716159,2.775307,3.561156,3.200930,2.743161,2.451463,3.114742,...,2.539695,2.284694,2.696516,3.171370,2.337642,3.107357,2.650927,3.411932,2.461335,3.119563
4,3.141246,2.586010,2.450807,2.254159,2.377348,3.093071,2.686382,2.342904,2.167937,2.720989,...,1.868175,1.741374,2.421439,2.716533,2.200564,2.631597,2.194156,2.762559,2.306070,2.576295

In [71]:
sample_T = sample_df.T

In [72]:
sample_T.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
id,,,,,,,,,,,,,,,,,,,,,
1,3.799008,4.122485,3.385340,3.761404,3.141246,4.174242,3.803431,3.535412,3.992960,2.732980,...,3.090025,3.698594,2.841666,4.820818,4.041731,3.574335,4.116776,3.176665,3.922945,3.851768
2,3.153223,3.604590,3.585565,3.002842,2.586010,3.511267,3.030348,3.086494,3.305128,2.512835,...,2.815428,3.124923,2.065249,4.105536,3.669963,2.725132,3.692443,2.847930,3.212573,3.167051
3,2.996005,3.444418,3.560982,2.818801,2.450807,3.357571,2.858718,2.961153,3.153529,2.476135,...,2.718702,2.971032,1.877626,3.929542,3.574404,2.536089,3.503276,2.773539,3.023304,3.034551
4,2.806670,3.056142,3.126218,2.716159,2.254159,3.167166,2.641780,2.711919,2.994309,2.311742,...,2.477220,2.542740,1.779860,3.578010,3.170503,2.277238,3.226016,2.776535,2.706702,2.782866
5,2.931485,3.347334,3.471269,2.775307,2.377348,3.278144,2.727771,2.921166,3.105155,2.553808,...,2.647501,2.812758,1.745415,3.847372,3.441498,2.307360,3.474766,2.968591,2.851619,2.969521

In [83]:
top_100s = []
for idx, col in enumerate(sample_T):
    top_100 = sample_T[col].sort_values(ascending=False).head(100)
    top_100_df = pd.DataFrame(top_100)
    top_100_df.reset_index(inplace=True)
    top_100s.append(top_100_df)

In [88]:
movies_df = pd.read_csv('../data/raw/movies.csv')

In [90]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [94]:
gbc = load('../models/fifp_classification.joblib')

In [91]:
test = []
cluster = []
for person in top_100s:
    movies = pd.merge(person, movies_df, how='left', left_on='id', right_on = 'movieId')
    titles = movies.title
    test.append(titles)

In [ ]:
item_factors_unstacked_transposed = item_factors_unstacked.T
centroid_ratings_T_df = cm.centroid_ratings(centroids,item_factors_unstacked)
centroid_ratings_T_df.head()